.card {
  border-bottom-width: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
  z-index: 50;
}

.card:last-child {
  border-bottom-width: 1px !important;
}

.card a {
  color: #5f5f5f;
  text-decoration: none !important;
}

.card a strong {
  color: #404040;
}

.card .actions {
  position: absolute;
  right: -100px;
  top: 0;
  height: 100px;
  width: 150px;
  z-index: 100;
  transition: all 0.3s;
}

.card .actions.show {
  right: 0;
}

.card .actions .btn {
  cursor: pointer;
  float: left;
  font-size: 12px;
  height: 105px;
  line-height: 105px;
  text-align: center;
  width: 50px;
}

.card .actions .btn.toggleAction {
  background: #fff;
}

.card .actions .btn.edit {
  background: #ccc;
}

.card .actions .btn.remove {
  background: #258dad;
  color: #fff;
}
