.checklist-item {
  border-bottom: 1px solid #cacaca;
  cursor: pointer;
  padding: 5px;
}

.checklist-item .icon {
  border: 1px solid #000;
  float: left;
  height: 22px;
  margin-right: 7px;
  text-align: center;
  width: 22px;
}
