.top-bar.custom {
  background: #258dad;
  height: 50px;
  margin-bottom: 20px;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
}

.top-bar .action-back {
  font-size: 22px;
  padding: 0 20px;
}

.top-bar .logout {
  padding: 5px 15px;
}
